/* Container for entire About Me content */
.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container for portrait + text side-by-side */
.text-and-image-container {
    gap: 100px;
    margin-top: 20px;
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

/* About me portrait image */
.portrait-image {
    width: 500px;
    height: auto;
    margin-left: 20px;
}

/* About me text content */
.about-me-text {
    text-align: left;
    flex: 1;
    align-self: flex-start;
}

/* Responsive styles */

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .text-and-image-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-hero {
        height: 700px;
    }

    .portrait-image {
        width: 100%;
        max-width: 400px;
    }

    .about-me-text {
        text-align: left;
        padding: 20px;
    }

    .header-text h2 {
        font-size: 32px;
    }

    .about-me-buttons-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .dropdown {
        margin: 10px 0px;
    }

    #scroll-arrow {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {
    .header-hero {
        height: 650px;
    }

    .text-and-image-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .portrait-image {
        width: 100%;
        max-width: 400px;
        margin: 10px;
    }

    .about-me-text {
        text-align: left;
        font-size: 16px;
        padding: 0px 20px;
    }

    #scroll-arrow {
        font-size: 2rem;
    }

    .about-me-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        margin: 10px 0px;
    }
}