/* Backgrounds */

.bg-about-me {
    background-image: url('../images/whos\ this\ guy.png');
}

.bg-ux-ui {
    background-image: url('../images/UX\ projects.png');
}

.bg-photography {
    background-image: url('../images/Photography.png');
}

.bg-art {
    background-image: url('../images/art.png');
}

.bg-blog {
    background-image: url('../images/Blog.png');
}

/* About Me Section */

.section-style-center {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 650px;
    z-index: 1;  
}

.section-style-center::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #121212 100%);
    pointer-events: none;
    z-index: 0;
}

.section-text-center {
    max-width: 50%;
    text-align: center;
    z-index: 2;
}

.section-text-center h1 {
    font-family: "Kaisei Decol", serif;
    font-weight: 600;
    font-style: bold;
    font-size: 32px;
}

.section-text-center p {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text on the right sections (UX, Art) */

.section-style-right {
    position: relative;
    color: white;
    background-color: #333333;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 600px; 
    z-index: 1;
}

.section-style-right::after,
.section-style-right::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}

.section-style-right::before {
    top: 0;
    height: 200px;
    background: linear-gradient(to bottom, #121212 0%, rgba(0, 0, 0, 0) 100%);
}

.section-style-right::after {
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, #121212 0%, rgba(0, 0, 0, 0) 100%);
}

.section-text-right {
    max-width: 50%;
    margin-right: 30px;
    z-index: 2;
}

.section-text-right h2 {
    font-family: "Kaisei Decol", serif;
    font-weight: 600;
    font-style: bold;
    font-size: 32px;
}

.section-text-right p {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Text on the left sections (Photography, Blog) */

.section-style-left {
    position: relative;
    color: white;
    background-color: #333333;
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 600px; 
    z-index: 1;
}

.section-style-left::after,
.section-style-left::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}

.section-style-left::before {
    top: 0;
    height: 200px;
    background: linear-gradient(to bottom, #121212 0%, rgba(0, 0, 0, 0) 100%);
}

.section-style-left::after {
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, #121212 0%, rgba(0, 0, 0, 0) 100%);
}

.section-text-left {
    max-width: 50%;
    margin-left: 30px;
    z-index: 2;
}

.section-text-left h2 {
    font-family: "Kaisei Decol", serif;
    font-weight: 600;
    font-style: bold;
    font-size: 32px;
}

.section-text-left p {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Responsivity Mobile */

@media (max-width: 768px) {
    .section-style-center {
        height: 600px;
    }

    .section-text-center {
        max-width: 90%;
    }
    .section-text-right{
        max-width: 90%;
        margin: 10px;
    }
    .section-text-left{
        max-width: 90%;
    }
}