/* Photography Gallery Styles */

.image-container {
    column-count: 4;
    column-gap: 5px;
}

.image-container a {
    max-width: 100%;
    display: block;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* UX Gallery Styles */ 