/* Photography Gallery Styles */

.image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;    
}

.column {
    flex: 25%;
    max-width: 24%;
    padding: 4px 4px; 
}

.column img {
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
}

/* UX Gallery Styles */