/* Photography Gallery Styles */
.image-container {
    gap: 5px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Responsive Photography Gallery */

@media (min-width: 576px) and (max-width: 992px) {
    .image-container {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .image-container {
        column-count: 3;
    }
}